<!DOCTYPE html>
<html>
<head>
  <title>blackwood.io</title>
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat:400,600|Source+Code+Pro:900" rel="stylesheet">
  <link href="https://cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body>
  <main id="main">
    </main>
  <script type="text/javascript" src="./main.js"></script>
  <%= File.read("src/includes/ga.html") %>
</body>
</html>