---
layout: default
permalink: /
seo_title: baze blackwood on the net
---

<div class="flex ma-b_l">
  <div class="span-half text-center">
    <p class="ma-v_m">
      producer <span>•</span> musician <span>•</span> web guy&nbsp;
    </p>
    <img width="300" height="300" class="bo_xs" src="/assets/img/avatar.png" />
    <div class="" style="max-width: 300px; margin: 0 auto;">
      <h1 class="f4 bold center mw5">Links</h1>
      <ul class="list pl0 ml0 center mw5">
        <li class="bb b--light-silver">
          <a
            class="ph3 pv2 db link bg-animate hover-bg-lightest-blue"
            href="https://open.spotify.com/artist/6RAWQcmkwprrKaGw5jSeNN?si=Awij_yWXSkuRRs0RvQU_GA"
            >Spotify</a
          >
        </li>
        <li class="bb b--light-silver">
          <a
            class="ph3 pv2 db link bg-animate hover-bg-lightest-blue"
            href="https://soundcloud.com/bazeblackwood"
            >Soundcloud</a
          >
        </li>
        <li class="bb b--light-silver">
          <a
            class="ph3 pv2 db link bg-animate hover-bg-lightest-blue"
            href="https://www.youtube.com/channel/UCEZ0udCbrp6TbJ0sWbrGEjw"
            >YouTube</a
          >
        </li>
        <li class="bb b--light-silver">
          <a
            class="ph3 pv2 db link bg-animate hover-bg-lightest-blue"
            href="https://github.com/blackwood"
            >GitHub</a
          >
        </li>
        <li class="bb b--light-silver">
          <a
            class="ph3 pv2 db link bg-animate hover-bg-lightest-blue"
            href="https://www.patreon.com/bazeblackwood"
            >Become a Patreon Supporter</a
          >
        </li>
        <li class="">
          <a
            class="ph3 pv2 db link bg-animate hover-bg-lightest-blue"
            href="https://soundbetter.com/profiles/138314-miles-blackwood-robinson"
            >Hire Me</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="span-half flex">
    <div class="ma-v-auto">
      <p class="text-center ma-v_m"><b>about baze:</b></p>
      <p>
        Apprentice at
        <a href="https://www.plaiddogrecording.com/">Plaid Dog Recording</a>.
      </p>
      <p>JavaScript nerd.</p>
      <p>Music theory enthusiast and burgeoning sound designer.</p>
      <br />
      <p>I am interested in a lot of stuff. (see below)</p>
      <br />
      <p>Check out my most recent album:</p>
      <iframe
        src="https://open.spotify.com/embed?uri=spotify:album:1DakDR6rvgP92duS0hcCoD"
        width="300"
        height="80"
        frameborder="0"
        allowtransparency="true"
        allow="encrypted-media"
      ></iframe>
      <p>
        ...and follow me on
        <a href="https://twitter.com/bazeblackwood">twitter</a>!
      </p>
    </div>
    <div class="mics">
      <h4 class="mb2">Previous/Upcoming Shows</h4>
      {% assign last = site.data.mics.records | size %}
      {% for mic in site.data.mics.records %}
      <div>
        <p>{{ mic.fields.date | date_to_string: "ordinal", "US" }}</p>
        <p>{{ mic.fields.location }}</p>
        {% assign showtime = mic.fields.date | date: '%Y%m%d' %} 
        {% assign nowtime = site.time | date: '%Y%m%d' %}
        {% if showtime >= nowtime %}
          <a class="b link" href="mailto:miles@blackwood.io?subject=I'm coming to the show at {{ mic.fields.location }}!&body=What time do you go on?">RSVP!</p>
        {% endif %} 
        {% if forloop.index != last %}<hr class="mv2" />{% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div>{% for post in site.posts %} {% include teaser.html %} {% endfor %}</div>
