<!DOCTYPE html>
<html>
<head>
  <title>blackwood.io</title>
  <link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body>
  <main id="main">
    <h1>miles blackwood robinson</h1>
    <aside class="show">
      <a href="show-cover"></a>
      <h3>next show</h3>
      <span>on</span>
      <div class="date">
        <span class="month"><%= shows.last["month"] %></span>
        <span class="day">17</span>
      </div>
      <div class="desc">prob'ly gonna play at</div>
      <div class="venue">funk n' waffles - downtown</div>
      <div class="location">in <b class="bold-blue">Syracuse NY</b></div>
      <div class="price">for free!</div>
    </aside>
  </main>
  <script type="text/javascript" src="./main.js"></script>
</body>
</html>