---
layout: default
permalink: /
seo_title: miles blackwood robinson on the net
---

<div>
  <div>
    <div>{% picture avatar.png id="avatar" --alt Avatar. %}</div>
    <div class="list btn-group btn-group-block std-margin-y">
      <a class="btn" href="https://www.youtube.com/channel/UCEZ0udCbrp6TbJ0sWbrGEjw">YouTube</a>
      <a class="btn" href="https://open.spotify.com/artist/6RAWQcmkwprrKaGw5jSeNN?si=Awij_yWXSkuRRs0RvQU_GA">Spotify</a>
      <a class="btn" href="https://soundcloud.com/bazeblackwood">Soundcloud</a>
      <a class="btn" href="https://github.com/blackwood">GitHub</a>
      <a class="btn" href="https://www.patreon.com/bazeblackwood">Patreon</a>
      <!-- <li><a href="https://soundbetter.com/profiles/138314-miles-blackwood-robinson">Hire Me </a></li> -->
    </div>
  </div>
  <div>
    <div>
      <h1>Hi. I'm Miles Blackwood Robinson.</h1>
      <p>
        I'm a music producer, writer and streamer. Right now I'm working on a constructed musical language called MaNePu, and I have a solo project called
        <a href="https://baze.blackwood.io">Baze Blackwood</a>. I just released a music video:
      </p>
      <p><iframe width="560" height="315" src="https://www.youtube.com/embed/rgB6H7v3d8s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
      <p>Enjoy my blog!</p>
    </div>
    <!-- <div>
    <h2>Previous/Upcoming Shows</h2>
    <section class="grid-regular">
      {% assign last = site.data.mics.records | size %}
      {% for mic in site.data.mics.records %}
        <p>foo</p>
        {% assign showtime = mic.fields.date | date: '%Y%m%d' %}
        {% assign nowtime = site.time | date: '%Y%m%d' %}
        {% if showtime >= nowtime %}
          <div class="show">
            <p>{{ mic.fields.date | date_to_string: "ordinal", "US" }}</p>
            <p>{{ mic.fields.location }}</p>
            <a href="mailto:miles@blackwood.io?subject=I'm coming to the show at {{mic.fields.location}}!&amp;body=What time do you go on?">RSVP!</a>
          {% endif %}
        </div>
      {% endfor %}
    </section>
    </div> -->
  </div>
</div>
<div>
  {% for post in site.posts limit:3 %}
    {% include teaser.html %}
  {% endfor %}
</div>
<div>
  <a class="btn" href="/search">Find Older Posts</a>
</div>
