<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link href="https://blackwood.io" hreflang="en-us" rel="alternate"/>

<title>{{ page.seo_title }}</title>
<meta name="description" content="{% if page.meta %}{{ page.meta }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
<meta content="en_US" property="og:locale"/>
<meta content="article" property="og:type"/>
<meta property="og:title" content="{% if page.seo_title %}{{ page.seo_title }} - {% elsif page.title %}{{ page.title }} - {% endif %}{{ site.title }}"/>
<meta property="og:description" content="{% if page.meta %}{{ page.meta }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>

<link rel="preconnect" href="https://www.google-analytics.com">
{% if page.yt_prefetch %}
<link rel="preconnect" href="https://s.ytimg.com">
<link rel="preconnect" href="https://i.ytimg.com">
<link rel="preconnect" href="https://yt3.ggpht.com">
{% endif %}

{% if page.title != 'home' %}
<link rel="preconnect" href="https://referrer.disqus.com">
<link rel="preconnect" href="https://blackwood-io.disqus.com">
{% endif %}
<meta property="og:image" content="{{ site.url }}/assets/img/BlackwoodFace.png">

<!-- {% if page.title == 'home' %} -->
<!-- <meta property="og:image:width" content="302" />
<meta property="og:image:height" content="271" /> -->
<!-- {% else %} -->
<!-- <meta property="og:image" content="{{ site.url }}{{ page.image_path }}"> -->
<!-- {% if page.image_width %} -->
<!-- <meta property="og:image:width" content="{{ page.image_width }}" /> -->
<!-- {% endif %} -->
<!-- {% if page.image_height %} -->
<!-- <meta property="og:image:height" content="{{ page.image_height }}" /> -->
<!-- {% endif %} -->
<!-- {% endif %} -->
<meta property="og:site_name" content="{{ site.title }}"/> <meta property="article:section" content="{% if page.section %}{{ page.section }}{% else %}main{% endif %}"/>
<meta
property="article:published_time" content="{% if page.date %}{{ page.date }}{% else %}{{ site.time }}{% endif %}"/>
<!-- pinterest verification -->
<meta content="f7f98970202444a2d990d6b0a87a79ce" name="p:domain_verify"/>
<!-- <meta property="article:modified_time" content=""> -->
<!-- <meta property="og:updated_time" content="2015-11-13T03:10:20+00:00"> -->
<meta content="@{{ twitter_username }}" name="twitter:site"/> <meta name="twitter:domain" content="{{ site.name }}"/>
<meta content="@{{ twitter_username }}" name="twitter:creator"/>
<meta property="twitter:card" content="{{ site.url }}/assets/img/BlackwoodFace.png">
<!-- <meta name="twitter:card" content="{{ site.url }}{{ page.image_path }}"/> -->
<meta name="twitter:description" content="{{ page.meta }}"/>
<meta name="twitter:title" content="{% if page.seo_title %}{{ page.seo_title }} - {% elsif page.title %}{{ page.title }} - {% endif %}{{ site.title }}"/>
<link href="/icons/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
<link href="/icons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
<link href="/icons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
<link href="/icons/site.webmanifest" rel="manifest"/>
<link color="#5bbad5" href="/icons/safari-pinned-tab.svg" rel="mask-icon"/>
<link href="/icons/favicon.ico" rel="shortcut icon"/>
<meta content="#da532c" name="msapplication-TileColor"/>
<meta content="/icons/browserconfig.xml" name="msapplication-config"/>
<meta content="#ffffff" name="theme-color"/>
<meta content="Jekyll" name="generator"/>
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    (i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments);
    }),
    (i[r].l = 1 * new Date());
    (a = s.createElement(o)),
    (m = s.getElementsByTagName(o)[0]);
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m);
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-71890871-1', 'auto');
  ga('send', 'pageview');
</script>
<script>
  window.site = {};
  window.site.menu = {{ site.menu | jsonify }};
</script>
<link href="https://unpkg.com/spectre.css/dist/spectre.min.css" rel="stylesheet">
<link href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" rel="stylesheet">
<link href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" rel="stylesheet">
<link href="/assets/css/main.css" rel="stylesheet"/>
