<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body class="sans-serif ph3">
    <main id="main">
      {% include header.html %}
      {{ content }}
      <div class="card p-2 std-margin-y">
        <form action="https://tinyletter.com/bazeblackwood" method="post" onsubmit="window.open('https://tinyletter.com/bazeblackwood','popupwindow','scrollbars=yes,width=800,height=600');return true;}}" target="popupwindow">
          <fieldset class="cf bn ma0 pa0">
            <legend class="p-centered">
              Sign up for updates, essays and lessons:
            </legend>
            <div class="cf">
              <label class="form-label" for="email-address">Email Address</label>
              <div class="input-group">
                <input class="form-input" id="tlemail" name="email" placeholder="email" type="text"/>
                <input name="embed" type="hidden" value="1"/>
                <input class="btn btn-primary input-group-btn" type="submit" value="Subscribe"/>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <footer>
        <span>&copy;
                                        2015-{{ site.time | date: '%Y' }}
          <a href="/">Miles "Baze" Blackwood Robinson</a>
        </span>
      </footer>
    </main>
  </body>
</html>
