<!DOCTYPE html>
<html>
    {% include head.html %}
<body>
    <main id="main">
        <header class="ma-v_m">
            <a href="/">
                <h1 class="bg-prime-1-h text-hero_m text-center bo_s">BAZE BLACKWOOD</h1>
            </a>
        </header>
        {{ content }}
        <h4 class="text-center ma-v_m">what else?</h4>
        <aside class="ma-b_l">
            <p class="text-center ma-v_m">Sign up for email updates, essays and lessons:</p>
            <form action="https://tinyletter.com/bazeblackwood" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/bazeblackwood','popupwindow','scrollbars=yes,width=800,height=600');return true;}}">
                <p>
                    <input class="input" type="text" name="email" id="tlemail" placeholder="email">
                </p>
                <input type="hidden" value="1" name="embed">
                <input class="bg-prime-2-h text-center button block" type="submit" value="Subscribe">
            </form>
        </aside>
    </main>
</body>
</html>
